//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://samsal81.github.io/MyProfile/index.html[nc]
RewriteRule ^(.*)$ http://www.https://samsal81.github.io/MyProfile/index.html/$1 [r=301,nc]

//Change default directory page
DirectoryIndex index.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 